// COLORS

// Website
$color-primary: #A40A40;
$color-secondary: #6D998C;

$color-white: #FFF;
$color-black: #000;

// Syntax Highlighter
$color-code-name: #047DD1;
$color-code-background: #EEE;
$color-code-border: #BBB;
$color-code-inline: #DDD;