extends layouts/default.pug

block content
  main
    h1 Working with Data

    p Javascript has a few different data types.

    h4 Variables

    p A basic principle of programming is the concept of a variable. In Javascript, variables are used to store and retrieve information.

    +codeMulti('Javascript', 'var a = 5;', 'var name = "bob"')