extends layouts/default.pug

block content
  main
    h1 Examples of Using Javascript with the DOM - part 2

    section.cta
      .cta__heading
        h1 Find out more information.
        button.cta__button Click Here!
        h2 Follow the directions
      .cta__text
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex nesciunt necessitatibus, laudantium ut vero, iste illum corrupti, accusantium ea sequi! Repellat laborum voluptates at quisquam, voluptate aperiam. Qui, quam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste minus ipsam, quidem optio odit id unde adipisci doloribus, labore porro atque! Voluptatibus obcaecati perferendis provident quo veritatis facere praesentium, numquam, excepturi molestias dolore veniam sapiente eos cumque aspernatur officia voluptatem! 
          a(href="#").change-color Click Now!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam odio ab error laboriosam fugiat hic accusamus magni, qui necessitatibus ex ipsum vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae facilis consequatur excepturi numquam incidunt recusandae, dolores neque modi velit id rem laudantium aperiam rerum, magnam magni voluptatibus quos a accusamus eum distinctio. Id?