extends layouts/default.pug

block content
  main
    h1 Events - 2

    div#events-2
      button#events-2-button Click Here

      button#button Some basic text

      div#event-target text
