extends layouts/default.pug

block content
  main.events
    .events__heading
      h1 Typing Speed and Accuracy
    .events__instruction
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit adipisci accusantium minus quisquam corrupti ullam corporis ratione temporibus minima totam aut quae consequatur sapiente quis, eveniet saepe ad nemo consequuntur.
    .events__text
      p.sample-text ...
    .events__typing
      textarea(rows="10" cols="42" placeholder="type some text here").type-area
    .events__tools
      .events__timer
        h6.timer 00:00:00
      .events__button
        button.start-button Start Over
    .events__footer


