extends layouts/default.pug

block content
  main
    h1 Goals of the Website

    p goals...

    h4 Table of Contents
    ul
      li
        a(href="data.html") Working with Data
      li
        a(href="functions.html") Functions and Objects
      li
        a(href="dom1.html") Javascript and the DOM: Part 1
      li
        a(href="dom2.html") Javascript and the DOM: Part 2
      li
        a(href="loops.html") Loops
      li
        a(href="validating.html") Validating and Minifying Javascript