extends layouts/default.pug

block content
  main
    h1 Goals of the Website

    p This website is meant as a place for notes as I progress through the course. The sections listed in the table of contents correspond to the sections of the course. When appropriate, a page will be added to demonstrate some of the concepts learned.

    section.toc
      h4 Table of Contents
      ul.toc__list
        h6 Course Content
        li.toc__list-item
          a(href="data.html") Working with Data
        li.toc__list-item
          a(href="functions.html") Functions and Objects
        li.toc__list-item
          a(href="dom1.html") Javascript and the DOM: Part 1
        li.toc__list-item
          a(href="dom2.html") Javascript and the DOM: Part 2
        li.toc__list-item
          a(href="loops.html") Loops
        li.toc__list-item
          a(href="validating.html") Validating and Minifying Javascript
        h6 Demo Examples
        li.toc__list-item
          a(href="dom-example-1.html") Interacting with the DOM
        li.toc__list-item
          a(href="clock.html") Javascript and the DOM - Clock Example
        li.toc__list-item
          a(href="dom-example-2.html") Javascript and the DOM - CTA Button Events
        li.toc__list-item
          a(href="events.html") Advanced Events
        li.toc__list-item
          a(href="responsive-images.html") Responsive Images