.post {
  $self: &;
  border: 1px solid lighten($color-secondary, 50%);
  margin: 1rem 0;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &__header {
    padding: 0.1rem 1.5rem 0.4rem;
    background-color: lighten($color-secondary, 12%);
    color: $color-white;

    h5 {
      margin-top: 0.4rem;
    }

    #{$self}__meta {
      border-top: 1px solid rgba($color-white, 0.15);
      padding-top: 0.5rem;

      p {
        color: darken($color-white, 3%);
      }
    }
  }

  &__content {
    padding: 1.5rem;

    p {
      line-height: 2rem;
    }

    p:not(:first-child) {
      margin: 1.5rem 0;
    }
  }

  &__footer {
    padding: 0.4rem 1rem;
    text-align: right;
    background-color: lighten($color-secondary, 50%);
    color: $color-black;
  }
}